@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@import '@fontsource/jetbrains-mono';

:root {
  --font-mono: 'JetBrains Mono', monospace;

  --font-mono-light: 300;
  --font-mono-regular: 400;
  --font-mono-medium: 500;
  --font-mono-bold: 700;
}


body {
  background-color: #080813;
}